<!DOCTYPE html>
{% if user.is_authenticated %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Cesting</title>
</head>

<body>
    <center>
        <h4>Rang lista dobavljača</h4>
        <br>
        <p>... beta verzija ...</p>
        <div class="mt-2">
            <div class="d-flex justify-content-center links font-weight-bold">
                <a href="{% url 'home' %}" class="ml-2">Povratak na izbornik</a>
            </div>
        </div>
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ŠIFRA</th>
                    <th scope="col">NAZIV DOBAVLJAČA</th>
                    <th align="left">POTRAŽUJE-RAČUN</th>
                </tr>
            </thead>
            <tbody>
                {% for item in SaldaKonti %}
                <tr>
                    <td>{{item.sifra}}</td>
                    <td>{{item.naziv}}</td>
                    <td align="right">{{item.potrazuje}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>
{% else %}
<html>
Nemata prava pristupiti ovoj stranici.
</html>
{% endif %}