<!DOCTYPE html>
{% if user.is_authenticated %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Cesting</title>
</head>

<script>
    function myFunctionNaziv() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("inputNaziv");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
<body>
    <div class="container justify-content-center">
        <div class="mt-2">
            <div class="d-flex justify-content-center">
                <h4 id="form-title">Cesting d.o.o.</h4>
            </div>
            <div class="d-flex justify-content-center">
                <p>Vinkovačka cesta 63a, Osijek</p>
            </div>
            <div class="d-flex justify-content-center">
                <h5>Rang lista kupaca</h5>
            </div>
        </div>

        <nav class="navbar navbar-light bg-light">

            <form>
                <div class="row">
                    <div class="col">
                        <input class="form-control mr-sm-2" type="text" id="inputNaziv" onkeyup="myFunctionNaziv()"
                            placeholder="Upiši naziv kupca..." title="Type in a name">
                    </div>
                </div>
            </form>
        </nav>

        <table id="myTable" class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Šifra</th>
                    <th scope="col">Naziv kupca</th>
                    <th align="right">Duguje-račun</th>
                </tr>
            </thead>
            <tbody>
                {% for item in SaldaKonti %}
                <tr>
                    <td>{{item.0}}</td>
                    <td>{{item.1}}</td>
                    <td align="right">{{item.2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
{% else %}
<html>
Nemata prava pristupiti ovoj stranici.

</html>
{% endif %}